sshtunnel
vertica_python
xlsxwriter==3.0.3
openpyxl
autopep8
delta-spark==2.2.0
pytest
apache-airflow[vertica,crypto,apache.spark,apache.hdfs,ssh,google,postgres,microsoft.mssql,hashicorp]==2.5.1
numpy
pendulum
pandas==1.5.3